#image-container{
  height: 570px;
  width: 100%;
  background-color: pink;
}
*{
  padding: 0;
  margin: 0;
}
#image-container img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#header{
  position: relative;
}
#navcon {
  position: absolute;
  top: 0px;
  right: 80px;
}
#navcon ul{
  display: flex;
  list-style: none;
  padding: 17px;
}
#navcon ul li a{
  font-size: 22px;
  display: flex;
  padding: 20px;
  color: white;
text-decoration: none;
}
#navlogo{
  position: absolute;
  top: 50px;
   width: 300px;
  height: 60px;
  object-fit: cover;
  top: 37%;
  left: 40%;
}
#navlogo img{
  width: 100%;
  height: 100%;
}
#header-content{
  position: absolute;
  height: 86.4px;
  width: 600px;
  margin: 0px 335.2px;
  top: 320px;
  left: 190px;
}
#header-content p{
  color: white;
  font-size: 36px;;
}
#p2{
  position: absolute;
  left: 100px;
}
